doctype html
html(lang="en")
  head
    //- required tags
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
      
    title= title
    link(rel="stylesheet", href="/stylesheets/library.css")
  body
    div.container
      div#inner-container
        block content
    script(src="/javascript/app.min.js")
