nav(class="navbar navbar-toggleable-md navbar-light bg-faded", id="cms-topbar")
  button(class="navbar-toggler navbar-toggler-right", type="button", data-toggle="collapse", data-target="#cmsTopbarMenu", aria-controls="cmsTopbarMenu", aria-expanded="false", aria-label="Toggle navigation")
    span(class="navbar-toggler-icon")
  a(class="navbar-brand", href="/") [Your Logo Here]

  div(class="collapse navbar-collapse",id="cmsTopbarMenu")
    ul(class="navbar-nav ml-auto") 
      li(class="nav-item")
        a(class="nav-link", href="#") Home
      li(class="nav-item")
        a(class="nav-link", href="#") News
      li(class="nav-item")
        a(class="nav-link", href="#") EBoard